<div class="search-bar">
  <mat-form-field [ngClass.xs]="'small-screen'" appearance="outline">
    <mat-icon matPrefix>search</mat-icon>
    <input (click)="navigateTo('search')" matInput placeholder="Search" />
  </mat-form-field>
</div>
<div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="15px">
  <mat-form-field appearance="outline">
    <mat-label>Language</mat-label>
    <mat-select>
      <mat-option
        *ngFor="let item of [].constructor(10); let i = index"
        [value]="i"
      >
        {{ i }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Genre</mat-label>
    <mat-select>
      <mat-option
        *ngFor="let item of [].constructor(10); let i = index"
        [value]="i"
      >
        {{ i }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Distance</mat-label>
    <mat-select>
      <mat-option
        *ngFor="let item of [].constructor(10); let i = index"
        [value]="i"
      >
        {{ i }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
