<div class="filter-form">
  <form [formGroup]="filterForm">
    <div class="search-bar">
      <mat-form-field color="accent" [ngClass.xs]="'small-screen'" appearance="outline">
        <mat-label>Search</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input [formControl]="filterForm.controls.searchText" matInput placeholder="Search" type="search" />
      </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="15px">
      <mat-form-field color="accent" appearance="outline">
        <mat-label>Language</mat-label>
        <mat-select [formControl]="filterForm.controls.language" multiple>
          <mat-option *ngFor="let language of languages" [value]="language">
            {{ language }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field color="accent" appearance="outline">
        <mat-label>Genre</mat-label>
        <mat-select [formControl]="filterForm.controls.genre" multiple>
          <mat-option *ngFor="let genre of genres" [value]="genre">
            {{ genre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field color="accent" appearance="outline">
        <mat-label>Distance</mat-label>
        <mat-select [formControl]="filterForm.controls.distance">
          <mat-option *ngFor="let item of distances" [value]="item">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div></div>
    </div>
  </form>
</div>
