.bookings {
  .bookings-mat-card {
    width: 80%;
    .bookings-tab {
      margin: 5px;
      ::ng-deep .mat-tab-body-content {
        overflow: hidden !important;
      }
    }
  }
  margin: 10px 5px;
}
