<div class="add-movie" fxLayout="row" fxLayoutAlign="space-around center">
  <mat-card class="mat-elevation-z2 add-movie-card">
    <mat-card-title>ADD MOVIE</mat-card-title>

    <mat-card-content>
      <div>
        <form [formGroup]="movieForm">
          <div fxLayout="row wrap" fxLayoutAlign="space-around center">
            <div>
              <app-auto-complete
                [normalClass]="'form-field'"
                [mobileClass]="'mobile-form-field'"
                [placeHolder]="'Title'"
                [fieldCtrl]="movieForm.controls.title"
                [autoCompleteValues]="movieAutoCompleteValues"
                (optionSelected)="titleSelected($event)"
              ></app-auto-complete>
            </div>
            <div>
              <app-input
                [normalClass]="'form-field'"
                [mobileClass]="'mobile-form-field'"
                [placeholder]="'Sub-Title'"
                [fieldCtrl]="movieForm.controls.sub_title"
                [label]="'Sub-Title'"
              ></app-input>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-around center">
            <div>
              <app-input
                [normalClass]="'form-field'"
                [mobileClass]="'mobile-form-field'"
                [placeholder]="'Poster URL'"
                [fieldCtrl]="movieForm.controls.poster_url"
                [label]="'Poster URL'"
              ></app-input>
            </div>
            <div>
              <app-input
                [normalClass]="'form-field'"
                [mobileClass]="'mobile-form-field'"
                [placeholder]="'IMDB Id'"
                [fieldCtrl]="movieForm.controls.imdbId"
                [label]="'IMDB Id'"
              ></app-input>
            </div>
          </div>

          <div fxLayout="row wrap" fxLayoutAlign="space-around center">
            <div>
              <app-chip-list
                [normalClass]="'form-field'"
                [mobileClass]="'mobile-form-field'"
                [placeholder]="'Genres'"
                [fieldCtrl]="movieForm.controls.genres"
                [autoCompleteValues]="genresAutoCompleteValues"
              ></app-chip-list>
            </div>
            <div>
              <app-chip-list
                [normalClass]="'form-field'"
                [mobileClass]="'mobile-form-field'"
                [placeholder]="'Languages'"
                [fieldCtrl]="movieForm.controls.languages"
                [autoCompleteValues]="languageAutoCompleteValues"
                [isSingleSelect]="true"
              ></app-chip-list>
            </div>
          </div>

          <div fxLayout="row wrap" fxLayoutAlign="space-around center">
            <div>
              <mat-form-field appearance="outline" class="form-field" [ngClass.xs]="'mobile-form-field'">
                <mat-label>Story</mat-label>
                <textarea matInput placeholder="Stroy" [formControl]="movieForm.controls.story"></textarea>
              </mat-form-field>
            </div>
            <div>
              <div class="form-field" [ngClass.xs]="'mobile-form-field
              '"></div>
            </div>
          </div>

          <div formArrayName="castArray">
            <h3>Cast</h3>
            <div class="btn-icon-right">
              <button mat-button (click)="addNewCastDetails('castForm', 'getCastForm')">
                <mat-icon>add_circle</mat-icon>Add Row
              </button>
            </div>
            <div
              *ngFor="let cast of castForm.controls; let i = index"
              [formGroupName]="i"
              fxLayout="row wrap"
              fxLayoutAlign="center center"
              fxLayoutGap="20px"
            >
              <app-input [fieldCtrl]="cast.controls.role" [label]="'Role'" [placeholder]="'Role'"></app-input>
              <app-input [fieldCtrl]="cast.controls.name" [label]="'Name'" [placeholder]="'Name'"></app-input>
              <app-input
                [fieldCtrl]="cast.controls.character_name"
                [label]="'Character Name'"
                [placeholder]="'Character Name'"
              ></app-input>
              <button
                *ngIf="castForm.controls.length > 1"
                mat-button
                color="accent"
                (click)="deleteCastRow(i, 'castForm')"
              >
                <mat-icon>remove_circle</mat-icon>Delete Row
              </button>
            </div>
          </div>

          <div formArrayName="crewArray">
            <h3>Crew</h3>
            <div class="btn-icon-right">
              <button mat-button (click)="addNewCastDetails('crewForm', 'getCrewForm')">
                <mat-icon>add_circle</mat-icon>Add Row
              </button>
            </div>
            <div
              *ngFor="let cast of crewForm.controls; let i = index"
              [formGroupName]="i"
              fxLayout="row wrap"
              fxLayoutAlign="center center"
              fxLayoutGap="20px"
            >
              <app-input [fieldCtrl]="cast.controls.role" [label]="'Role'" [placeholder]="'Role'"></app-input>
              <app-input [fieldCtrl]="cast.controls.name" [label]="'Name'" [placeholder]="'Name'"></app-input>

              <button
                *ngIf="crewForm.controls.length > 1"
                mat-button
                color="accent"
                (click)="deleteCastRow(i, 'crewForm')"
              >
                <mat-icon>remove_circle</mat-icon>Delete Row
              </button>
            </div>
          </div>
          <div>
            <h3>Theater Details</h3>
            <div fxLayout="row wrap" fxLayoutAlign="space-around center">
              <div>
                <app-input
                  [normalClass]="'form-field'"
                  [mobileClass]="'mobile-form-field'"
                  [placeholder]="'Theater Name'"
                  [fieldCtrl]="theaterForm.controls.name"
                  [label]="'Theater Name'"
                ></app-input>
              </div>
              <div>
                <mat-form-field appearance="outline" class="form-field" [ngClass.xs]="'mobile-form-field'">
                  <mat-label>Showing From</mat-label>
                  <mat-date-range-input [rangePicker]="picker" [min]="minDate">
                    <input
                      matStartDate
                      [formControl]="theaterForm.controls.startDate"
                      placeholder="Start date"
                      type="text"
                    />
                    <input matEndDate [formControl]="theaterForm.controls.endDate" placeholder="End date" type="text" />
                  </mat-date-range-input>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="space-around center">
              <div>
                <app-input
                  [normalClass]="'form-field'"
                  [mobileClass]="'mobile-form-field'"
                  [placeholder]="'Latitude'"
                  [fieldCtrl]="theaterForm.controls.latitude"
                  [label]="'Latitude'"
                ></app-input>
              </div>
              <div>
                <app-input
                  [normalClass]="'form-field'"
                  [mobileClass]="'mobile-form-field'"
                  [placeholder]="'Longitude'"
                  [fieldCtrl]="theaterForm.controls.longitude"
                  [label]="'Longitude'"
                ></app-input>
              </div>
            </div>

            <div fxLayout="row wrap" fxLayoutAlign="space-around center">
              <div>
                <mat-form-field class="form-field" [ngClass.xs]="'mobile-form-field'" appearance="outline">
                  <mat-label>Address</mat-label>
                  <textarea [formControl]="theaterForm.controls.address" matInput placeholder="Address"> </textarea>
                </mat-form-field>
              </div>
              <div>
                <app-chip-list
                  [normalClass]="'form-field'"
                  [mobileClass]="'mobile-form-field'"
                  [placeholder]="'Show Timings'"
                  [fieldCtrl]="theaterForm.controls.showTimings"
                  [autoCompleteValues]="showTimingValues"
                ></app-chip-list>
              </div>
            </div>

            <h3>Facilities</h3>

            <div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
              <mat-checkbox [formControl]="theaterForm.controls.foodAvailability">
                <mat-label>Food Availability</mat-label>
              </mat-checkbox>
              <mat-checkbox [formControl]="theaterForm.controls.parking">
                <mat-label>Parking</mat-label>
              </mat-checkbox>
              <mat-checkbox [formControl]="theaterForm.controls.dolby">
                <mat-label>Dolby Atmos</mat-label>
              </mat-checkbox>
              <mat-checkbox [formControl]="theaterForm.controls.fourK">
                <mat-label>4K Screen</mat-label>
              </mat-checkbox>
            </div>

            <div formGroupName="theater">
              <div formArrayName="restrictionsArray">
                <h3>Restrictions</h3>
                <div class="btn-icon-right">
                  <button mat-button (click)="addNewCastDetails('restrictionForm', 'getRestrictionForm')">
                    <mat-icon>add_circle</mat-icon>Add Row
                  </button>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="center center" fxFill>
                  <div *ngFor="let restriction of restrictionForm.controls; let i = index" [formGroupName]="i">
                    <app-input
                      [fieldCtrl]="restriction.controls.restriction"
                      [placeholder]="'Restriction'"
                      [label]="'Restriction'"
                      [normalClass]="'form-field'"
                      [mobileClass]="'mobile-form-field'"
                    ></app-input>
                    <button
                      *ngIf="restrictionForm.controls.length > 1"
                      mat-button
                      color="accent"
                      (click)="deleteCastRow(i, 'restrictionForm')"
                    >
                      <mat-icon>remove_circle</mat-icon>Delete Row
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div>
        <button mat-raised-button (click)="back()" color="warn">CANCEL</button>
        <button (click)="addMovie()" class="flt-right" mat-raised-button color="accent" [disabled]="!movieForm.valid">
          SUBMIT
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
