.example-card {
  max-width: 30%;
  // display: inline-block;
  // margin: 5px;
  img {
    // height: fit-content; //so that it takes up full space
    // max-height: 300px !important; // this prevents the image from being extremely big
    // object-fit: cover;
    // object-position: center;
  }
}
.example-spacer {
  flex: 1 1 auto;
}
.floatRight {
  float: right;
}
