<mat-card [routerLink]="['movieDetail']" routerLinkActive="router-link-active">
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <div fxLayout="row" fxLayoutAlign="space-between start">
    Baahubali 2
    <span> <mat-icon>location_on</mat-icon>10km </span>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between start">PVR Mall</div>
  <div fxLayout="row" fxLayoutAlign="start start">
    <span *ngFor="let item of [].constructor(5); let i = index">
      <mat-icon>face</mat-icon>
    </span>
  </div>
  <hr />
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="start start">
      <span>
        <mat-icon>schedule</mat-icon>
        <button mat-button color="accent">5:30PM</button>
        <button mat-button color="accent">5:30PM</button>
        <button mat-button color="accent">5:30PM</button>
      </span>
    </div>
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutAlign="space-between start">
    <button *ngIf="!isShowingNext" mat-raised-button color="accent">
      BOOK
    </button>
    <button color="accent" mat-mini-fab *ngIf="isShowingNext">
      <mat-icon>add_alert</mat-icon>
    </button>

    <button color="accent" mat-mini-fab>
      <mat-icon>share</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
