@import '../../../../../assets/styles/variables.scss';

.mat-tab-body-margin {
  margin: 5px 10px;
}
.google-btn {
  img {
    height: 20px;
    width: 20px;
  }
}
.login-btns {
  margin: 5px 0px;
}
.btn-text {
  text-align: center;
}
.forgot-pass {
  color: $dark-light-warn;
}
.dark-theme .forgot-pass {
  color: $dark-light-warn;
}
