<div>
  <mat-tab-group
    mat-stretch-tabs
    color="accent"
    class="example-stretched-tabs mat-elevation-z1"
  >
    <mat-tab label="Login">
      <div class="mat-tab-body-margin login">
        <div>
          <div fxLayout="column">
            <mat-form-field appearance="outline">
              <input matInput />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <input type="password" matInput />
            </mat-form-field>

            <button mat-raised-button class="login-btns" color="accent">
              Login
            </button>
            <div class="btn-text">
              <span> or</span>
            </div>
            <button class="login-btns google-btn" mat-raised-button>
              <img src="../../../../../assets/images/google.png" alt="google" />
              Sign In With Google
            </button>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Sign Up">
      <div class="mat-tab-body-margin sign-up">
        <form [formGroup]="signUpForm" fxLayout="column">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput placeholder="Name" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>E-Mail</mat-label>

            <input
              matInput
              type="email"
              formControlName="email"
              placeholder="testEmail@gmail.com"
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>

            <input
              placeholder="Password"
              matInput
              formControlName="password"
              type="password"
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Re-Enter Password</mat-label>

            <input
              matInput
              type="password"
              formControlName="confirmPassword"
              placeholder="Re-Enter Password"
            />
          </mat-form-field>
          <button
            [disabled]="!signUpForm.valid"
            mat-raised-button
            color="accent"
          >
            Sign Up
          </button>
        </form>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
