<div class="seat-container">
  <form [formGroup]="seatForm">
    <div
      class="form-cond"
      fxLayout="row wrap"
      fxLayoutAlign="center center"
      fxLayoutGap="20px"
    >
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Choose a Date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="MM/dd/yyyy"
          [min]="todaysDate"
          [max]="lastdate"
          formControlName="date"
          type="text"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>Enter a Valid Date</mat-error>
      </mat-form-field>
      <mat-form-field color="accent" appearance="outline">
        <mat-label>Number of Seats</mat-label>
        <mat-select
          role="select"
          placeholder="Number of Seats"
          formControlName="noOfSeats"
        >
          <mat-option
            *ngFor="let item of [].constructor(6); let i = index"
            [value]="i + 1"
            >{{ i + 1 }}</mat-option
          >
        </mat-select>
        <mat-error>Select number of Seats</mat-error>
      </mat-form-field>
      <mat-form-field color="accent" appearance="outline">
        <mat-label>Show Timing</mat-label>

        <mat-select
          role="option"
          placeholder="Choose a Slot"
          formControlName="slot"
        >
          <mat-option
            *ngFor="
              let time of ((movieDetails || {}).theater || {}).showTimings
            "
            [value]="time"
            >{{ time }}</mat-option
          >
        </mat-select>
        <mat-error>Please Select a Slot</mat-error>
      </mat-form-field>
      <div></div>
    </div>
  </form>

  <div *ngIf="isDisabled()" class="disabled-txt">
    Please Select Date & Time to select seats
  </div>
  <div [attr.disabled]="isDisabled() ? true : null" class="seatLayout">
    <form class="seating-form" [ngClass.xs]="'mobile-seating'">
      <ol>
        <li *ngFor="let seats of rows" class="row row--1">
          <ol class="seats" type="A">
            <li *ngFor="let seat of seats" class="seat">
              <input
                (click)="seatAction(seat)"
                type="checkbox"
                [checked]="seatsLayout?.booked?.includes(seat)"
                [disabled]="seatsLayout?.disabled?.includes(seat)"
                [id]="seat"
              />
              <label [for]="seat">{{ seat }}</label>
            </li>
          </ol>
        </li>
      </ol>
    </form>
    <div class="screen">screen</div>
  </div>

  <div class="seat-actions">
    <div class="selected-seats" fxLayout="row wrap">
      <p class="no-padding">Selected Seats :</p>
      <span
        *ngFor="let seatLabel of seatsLayout.booked"
        class="badge badge-primary"
        >{{ seatLabel }}</span
      >
    </div>
    <div>
      <button
        mat-raised-button
        color="accent"
        [ngClass.gt-sm]="'btn-large'"
        [disabled]="
          seatsLayout?.booked?.length == 0 ||
          seatsLayout?.booked?.length < seatForm.value.noOfSeats
        "
        type="button"
        (click)="bookSeats()"
        class="flt-right"
      >
        BOOK NOW
      </button>
    </div>
  </div>
</div>
