<div class="payment-handler">
  <mat-tab-group mat-stretch-tabs color="accent" class="mat-elevation-z2">
    <mat-tab label="Credit Card" class="credit-card">
      <mat-card class="mat-elevation-z2">
        <mat-card-title>Credit/Debit card</mat-card-title>
        <mat-card-content>
          <form class="credit-form" [formGroup]="creditForm">
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Credit/Debit card Number</mat-label>
              <input
                matInput
                placeholder="Credit/Debit card Number"
                maxlength="16"
                formControlName="cardCode"
                maxlength="16"
                type="text"
              />
              <mat-error>{{ (creditForm.get('cardCode').errors || {}).creditCard }}</mat-error>
            </mat-form-field>

            <div>
              <mat-form-field appearance="outline" class="form-field">
                <mat-label>Name on card</mat-label>
                <input formControlName="name" matInput placeholder="Name on Card" type="text" />
              </mat-form-field>
            </div>

            <div class="expiry-date">Expiry Date</div>

            <div fxLayout="row wrap">
              <div fxFlex fxFlex.gt-md="20%">
                <mat-form-field appearance="outline" class="small-dropdown">
                  <mat-select role="option" formControlName="month" placeholder="Month">
                    <mat-option *ngFor="let item of [].constructor(12); let i = index" value="i+1">
                      {{ i + 1 }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxFlex fxFlex.gt-md="20%">
                <mat-form-field appearance="outline" class="small-dropdown">
                  <mat-select role="option" formControlName="year" placeholder="Year">
                    <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxFlex fxFlex.gt-md="15%"></div>
              <div fxFlex fxFlex.gt-md="20%">
                <mat-form-field appearance="outline" class="small-dropdown">
                  <mat-label>cvv</mat-label>
                  <input matInput formControlName="cvv" placeholder="cvv" maxlength="4" type="text" />
                  <mat-error>Enter a valid number</mat-error>
                </mat-form-field>
              </div>
            </div>
            <button
              [disabled]="!creditForm.valid"
              mat-raised-button
              color="accent"
              type="submit"
              (click)="processPayment()"
            >
              SUBMIT
            </button>
          </form>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="UPI">
      <mat-card>
        <mat-card-title>UPI Payment</mat-card-title>
        <mat-card-content>
          <form [formGroup]="upiForm">
            <label id="example-radio-group-label">Pick payment mode</label>
            <div>
              <mat-radio-group
                aria-labelledby="example-radio-group-label"
                class="example-radio-group"
                fxLayout="column"
                fxLayoutAlign="center none"
                fxFlexFill
                formControlName="upiType"
              >
                <mat-radio-button
                  class="example-radio-button"
                  (change)="radioChange($event)"
                  *ngFor="let item of upis"
                  [value]="item"
                >
                  {{ item.name }}
                </mat-radio-button>
              </mat-radio-group>
              <mat-form-field *ngIf="showOtherUpiTextField" appearance="outline" class="form-full-width">
                <mat-label>Enter UPI id</mat-label>
                <input matInput formControlName="upiText" placeholder="xxxxx@xxx" type="text" />
              </mat-form-field>
            </div>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="accent" [disabled]="!upiForm.valid" type="submit" (click)="processPayment()">
            SUBMIT
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-tab>
    <mat-tab label="Net Banking">
      <mat-card>
        <mat-card-title>Net Banking</mat-card-title>
        <mat-card-content>
          <form [formGroup]="netBankingForm">
            <mat-form-field appearance="outline" class="form-full-width net-banking">
              <mat-label>Choose a Bank</mat-label>
              <mat-select role="option" formControlName="bankName">
                <mat-option placeholder="Choose a Bank" *ngFor="let bank of bankingList" [value]="bank">{{
                  bank
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-raised-button
            color="accent"
            [disabled]="!netBankingForm.valid"
            type="submit"
            (click)="processPayment()"
          >
            SUBMIT
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>
