<footer class="docs-footer">
  <mat-toolbar color="primary" class="mat-elevation-z8">
    <div
      fxLayout="row wrap"
      fxLayoutAlign="space-between center"
      class="footer-flex"
    >
      <div [fxFlex]="100 / 3 + '%'" fxFlex.xs="100%" class="footer-logo">
        <img
          src="../../../../favicon.ico"
          alt="Angular icon"
          class="docs-footer-angular-logo"
        />
        <span><a href="https://angular.io">Learn Angular</a></span>
      </div>
      <div [fxFlex]="100 / 3 + '%'" fxFlex.xs="100%" class="footer-logo">
        <img
          src="../../../../favicon.ico"
          alt="Angular icon"
          class="docs-footer-angular-logo"
        />
        <span>Angular Version: {{ version }}</span>
      </div>
      <!-- <div
        [fxFlex]="100 / 3 + '%'"
        fxFlex.xs="100%"
        class="docs-footer-version"
      >
        <img
          src="../../../../favicon.ico"
          alt="Angular Material icon"
          class="angular-material-logo"
        /><span class="version">Current Version: {{ version }}</span>
      </div> -->
      <div
        [fxFlex]="100 / 3 + '%'"
        fxFlex.xs="100%"
        class="docs-footer-copyright"
      >
        <div>
          <div>
            <span>Developed by :</span>
          </div>
          <div>
            <span>Anil Kumar Reddy A</span>
          </div>
          <div>
            <a href="https://anil-portfolio.firebaseapp.com"
              >Visit My Site Anil-Portfolio</a
            >
          </div>
          <div>
            <a href="mailto:aanilkumarreddy1@gmail.com"
              >aanilkumarreddy1@gmail.com</a
            >
          </div>
        </div>
      </div>
    </div>
  </mat-toolbar>
</footer>
<!-- <footer class="docs-footer">
  <div class="docs-footer-list">
    <div class="docs-footer-logo">
      <div class="footer-logo">
        <img
          src="../../../../favicon.ico"
          alt="Angular icon"
          class="docs-footer-angular-logo"
        /><span><a href="https://angular.io">Learn Angular</a></span>
      </div>
    </div>
    <div class="docs-footer-version">
      <img
        src="../../../../favicon.ico"
        alt="Angular Material icon"
        class="angular-material-logo"
      /><span class="version">Current Version: {{ version }}</span>
    </div>
    <div class="docs-footer-copyright">
      <div>
        <span>Powered by Google ©2010-2020.</span
        ><a href="https://github.com/angular/components/blob/master/LICENSE"
          >Code licensed under an MIT-style License.</a
        ><span>Documentation licensed under CC BY 4.0.</span>
      </div>
    </div>
  </div>
</footer> -->
