@import '~@angular/material/theming';

@import '~material-design-icons/iconfont/material-icons.css';

@import './assets/styles/variables.scss';

@include mat-core();

$app-dark-primary: mat-palette($mat-grey, 900);
$app-dark-accent: mat-palette($mat-yellow, 800);
$app-dark-warn: mat-palette($mat-red, 200);
$app-dark-theme: mat-dark-theme(
  (
    color: (
      primary: $app-dark-primary,
      accent: $app-dark-accent,
      warn: $app-dark-warn,
    ),
  )
);
$app-dark-color: mat-palette($mat-grey, 50);
.dark-theme {
  @include angular-material-theme($app-dark-theme);
  .mat-progress-spinner circle,
  .mat-spinner circle {
    stroke: $dark-accent-color;
  }
  a {
    color: $white-color !important;
  }
}
// light theme
$app-light-primary: mat-palette($mat-indigo);
$app-light-accent: mat-palette($mat-pink, A200, A100, A400);
$app-light-theme: mat-light-theme($app-light-primary, $app-light-accent);
@include angular-material-theme($app-light-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.text-icon {
  display: flex;
  align-items: center;
}
mat-card {
  outline: none;
}
::ng-deep .custom-overlay {
  .mat-progress-spinner circle,
  .mat-spinner circle {
    stroke: $dark-accent-color;
  }
}

.error-color {
  background-color: $dark-warn;
  max-width: 100% !important;
  width: 100% !important;
}

.success-color {
  background-color: $success-color;
  max-width: 100% !important;
  width: 100% !important;
}

.warning-color {
  background-color: $dark-accent-color;
  max-width: 100% !important;
  width: 100% !important;
}

.mt-5 {
  margin-top: 5px;
}

.flt-right {
  float: right;
}
mat-card:last-child {
  margin-bottom: 5px;
}
.btn-icon-right {
  display: flex;
  justify-content: flex-end;
}
a {
  text-decoration: none;
  color: $black-clr;
}
a:hover {
  text-decoration: underline;
}
