<div class="forgot-password">
  <div [ngClass.lt-md]="'forgot-password-tab'">
    <mat-card class="mat-elevation-z4">
      <mat-card-title>FORGOT PASSWORD</mat-card-title>
      <mat-card-content>
        <div>
          <form [formGroup]="forgotPasswordForm">
            <div>
              <mat-form-field class="input-field-style" appearance="outline">
                <mat-label>E-Mail</mat-label>
                <input
                  matInput
                  formControlName="email"
                  placeholder="E-Mail"
                  type="email"
                />
                <mat-error>Please enter a valid E-Mail</mat-error>
              </mat-form-field>
            </div>
          </form>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center">
          <button
            [disabled]="!forgotPasswordForm.valid"
            mat-raised-button
            color="accent"
            (click)="sendPasswordResetMail()"
          >
            SEND PASSWORD RESET E-MAIL
          </button>
        </div>
      </mat-card-content>
      <mat-card-actions> </mat-card-actions>
    </mat-card>
  </div>
</div>
